.mh-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.mh-login input {
    height: 30px;
    font-size: 18px;
    border-radius: 4px;
}

.mh-login button {
    height: 45px;
    font-size: 18px;
    background-color: rgb(128, 21, 158);
    color: white;
    border-radius: 4px;
}

.mh-login a {
    color: rgb(128, 21, 158);
    text-decoration: underline;
}